body {
    background-color: #eeeeee;
}

#profile {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(189, 189, 189);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: white;
    border: 3px solid rgb(211, 211, 211);
    border-radius: 10px;
    margin-bottom: 15px;
}

article {
    background-color: white;
}

#title{
    color: rgb(43, 43, 43);
    text-align: center;
    font-family: monospace;
}

.posts {
    background-color: white;
    border: 3px solid rgb(211, 211, 211);
    border-radius: 10px;
}

article {
    padding: 10px 5px;
    margin: 10px 5px;
    border: 3px solid rgb(211, 211, 211);
    border-radius: 10px;
}

.subtitle{
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    color: rgb(49, 49, 49);
}

.posttitle {
    text-transform: uppercase;
    font-family: monospace;
    color: rgb(58, 58, 58);
}

p {
    font-family: sans-serif;
    text-align: justify;
}

.footer {
    background-color: rgb(36, 36, 36);
}

.footer li {
    list-style: square;
}

.footer a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}